# REFERENCE DOC: https://learn.microsoft.com/en-us/windows/wsl/wsl-config#configuration-settings-for-wslconfig 

[wsl2]
# Limits VM memory to use no more than 4 GB, this can be set as whole numbers using GB or MB
memory=8GB
# Sets the VM to use two virtual processors
processors=4
# Turn on default connection to bind WSL 2 localhost to Windows localhost
#localhostforwarding=true

# the value is mirrored then this turns on mirrored networking mode. Default or unrecognized strings result in NAT networking.
networkingMode=mirrored
# Disables nested virtualization
nestedVirtualization=true
[experimental]
autoMemoryReclaim=gradual
hostAddressLoopback=true


